<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/eachnewsandevent.css">
</head>

<body>


    <% include header.ejs %>



        <div id="each-news-and-event-container">


            <div id="img-wrap">
                <img src=<%=img %>alt="">



            </div>
            <div id="description">
                <h1>

                    <%= newstitle %>
                </h1>

                <p>
                    <%= description %>
                </p>

                <p>
                    <%= description %>
                </p>
            </div>



            <form action="" id="writing-comment-area">
                <textarea name="" id="comment-of-commenter" cols="30" rows="10" placeholder="Write Your Comment Here"></textarea>

                <input type="text" name="" id="your-name" placeholder="Enter Your Name" vaue="heloo">

                <input type="submit" value="Submit Comment" id="submit-comment-button">
            </form>


            <div id="comment-showing-area">

                <h1 id="all-comments">All Comments</h1>


                <div id="each-comment">
                    <h3 id="name-of-commenter">name of the commenter</h3>
                    <p>Comment of that person</p>
                </div>
                <div id="each-comment">
                    <h3>name of the commenter</h3>
                    <p>Comment of that perso</p>
                </div>
                <div id="each-comment">
                    <h3>name of the commenter</h3>
                    <p>Comment of that perso

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi delectus dolor voluptatem
                        obcaecati exercitationem aliquid quas quod, praesentium expedita odio nulla, fuga dolore magnam
                        voluptates eaque sint dignissimos commodi libero.
                    </p>
                </div>
            </div>



        </div>



        <% include footer.ejs %>









            <script src="   /javascripts/eachnewsandevent.js"></script>
</body>

</html>