<div id="staff-container">
    <!-- <div id="each-staff">
        <img src="/images/naresh.jpeg" alt="">
        <h3>Naresh Radi ko Xoro</h3>
    </div> -->
</div>

<script src="/javascripts/staff.js"></script>