<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/galary.css">
</head>

<body>

    <% include header.ejs %>














        <div id="galary-container">


            <!-- <div id="each-galary-post">
                <img src="/images/school-index-image.avif" alt="">
                <div id="info">
                    <h3>Title of Image</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia suscipit illum fugiat nulla
                        magnam velit reiciendis cupiditate ut, recusandae, laborum delectus ad quis nisi impedit maxime
                        magni sapiente sint libero?</p>
                </div>
            </div> -->





        </div>

        <div id="container">

            <div id="photo-preview">
                <!-- <div class="preview-img active">
                    <img src="/images/logo.jpg" alt="">
                </div> -->

                
            </div>

            <i id="prev-btn" onclick="changeSlide(-1)" class="ri-skip-left-line"></i>
            <i id="next-btn" onclick="changeSlide(1)" class="ri-skip-right-line"></i>
            <i class="ri-close-circle-line" id="cancel-preview"></i>
        </div>












        <% include footer.ejs %>

            <script src="/javascripts/galary.js"></script>


</body>

</html>