<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <!-- google fonst -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">



    <!-- remix icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">



    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">


</head>

<body>

    <div id="navbar">
        <div href="" id="logo">
            <img src="/images/logo.jpg" alt="">
            <a href="">Hetauda city college</a>
        </div>

        <div id="right-nav">
            <a href="">Apply Now</a>
            <a id="menu-button">
                menu
                <i class="ri-menu-line"></i>
            </a>
        </div>

    </div>







    <!-- all programss -->
    <div id="all-programs">

        <i class="ri-close-line" id="cancel-navmenu-button"></i>

        <div id="about-us">
            <div id="first-div">
                <h2>About Us</h2>
                <a href="">About Hetauda City colleg</a>
                <a href="">College Partner</a>
                <a href="">People</a>
                <a href="">Facilities & Infrastructure</a>
                <a href="">Schedule an Appointment</a>
                <a href="">Contact</a>
            </div>

            <div id="admission">
                <h2>Admission</h2>
                <a href="">How to Apply</a>
            </div>
        </div>

        <div id="our-programms">
            <center>
                <h2 id="our-programe-headline">Our Programmes</h2>
            </center>

            <div id="first-div">
                <div id="it-degree">
                    <h2>It Degree</h2>
                    <a href="">Bachelor in computer Application (BCA)</a>
                    <a href="">Bachelor in computer Application (BCA)</a>
                    <a href="">Bachelo in Law</a>
                </div>
                <div id="business-degree">
                    <h2>Business Degree</h2>
                    <a href="">Masters of Business Administration</a>
                    <a href="">BA (Hons) Accounting & Finance</a>
                    <a href="">Masters of Business Administration</a>
                </div>
            </div>

            <div id="second-div">
                <div id="connect">
                    <h2>Connect</h2>
                    <a href="">News & Event</a>
                    <a href="">Alumni</a>
                </div>


                <div id="student-life">
                    <h2>Student Life</h2>
                    <a href="">Notices</a>
                    <a href="">Student Area</a>
                    <a href="">Scholarship</a>
                    <a href="">Notices</a>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/header.js"></script>
</body>

</html>