<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
  <!-- header part is here -->
  <% include header.ejs %>



    <div id="index-main">
      <div id="center-head">
        <img src="/images/logo.jpg" alt="">
        <h1>
          DEVELOPING
          <br>
          INDUSTRY READY GRADUATES
        </h1>
        <h3>SINCE 1996</h3>
      </div>


      <div id="apply-now">
        <a href="">Apply now</a>
        <a href="">Experience More
          <i class="ri-arrow-down-s-line"></i>
        </a>
      </div>


      <div class="typewriter-container">
        <h1>Your</h1>
        <div id="typewriter-text">
        </div>
        <p>Hello mate this is Hetauda City college and good at all.</p>
      </div>

    </div>

























    <!-- evnt container -->

    <div id="index-event">
      <div id="headline">
        <h1>Hetauda City college</h1>
        <h1>Experience</h1>
        <p>
          A college experience transcends beyond just classrooms and lecture theatres. Celebrate our fun-filled events
          throughout the academic year. Come and live the Hetauda City College Experience!
        </p>
      </div>
    </div>



































    <!-- footer part is here -->
    <% include footer.ejs %>



      <script src="/javascripts/index.js"></script>
</body>

</html>