<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>
  <!-- header part is here -->
  <% include header.ejs %>



    <div id="index-main">
      <div id="center-head">
        <img src="/images/logo.jpg" alt="">
        <h1>
          Make Opportunity Happen
        </h1>
        <h2>Herauda city college</h2>
        <h3>SINCE 1996</h3>
      </div>



      <a href="/aboutcitycollege">
        <button>About Us</button>
      </a>


      <div class="typewriter-container">
        <h1>Your</h1>
        <div id="typewriter-text">
        </div>
        <p>Hello mate this is Hetauda City college and good at all.</p>
      </div>

    </div>

























    <!-- evnt container -->

    <div id="index-event">
      <div id="headline">
        <h1>" ज्ञानी मानिसहरुको कर्तव्य शिक्षा दिनु हो अनि बुद्धिमानहरुको कर्तव्य त्यसलाई सुन्नु "</h1>
        <h1> – होम्लस</h1>
      </div>
    </div>



































    <!-- footer part is here -->
    <% include footer.ejs %>



      <script src="/javascripts/index.js"></script>
</body>

</html>