
<div id="why-hcc">

    <h1>Why To Choose Hetauda City College</h1>

    <li>
        <strong>
            Proven Teaching Excellence:
        </strong>
        <p>
            With a track record of excellent academic results, HCC boasts an enviable collection of T.U.
            Gold medals and awards, all thanks to its exceptional management and dedicated faculty.
        </p>
    </li>
    <li>
        <strong>
            IT and Business Education:
        </strong>
        <p>
            HCC prepares students for the digital future, offering IT courses that are essential in the
            digitalization of Nepal, and business courses tailored to forge leaders in commerce.
        </p>
    </li>

    <h3>State-of-the-Art Facilities at HCC</h3>



    <li>
        <strong>
            Library Resources:
        </strong>
        <p>

            Home to over 5,000 books and with spacious, tranquil reading areas, the HCC library is a
            cornerstone of the college's academic environment, fostering a serene and focused study space.
        </p>
    </li>

    <li>
        <strong>
            Advanced Computer Lab:
        </strong>
        <p>

            Embracing digital education, HCC's computer lab provides students with top-tier electronic
            resources, allowing seamless access to global knowledge.
        </p>
    </li>
    <li>
        <strong>
            Athletics and Recreation:
        </strong>
        <p>
            The college offers a variety of sports facilities, including basketball, volleyball, and table
            tennis, to promote fitness and leisure among its community.
        </p>
    </li>

    <h3>Sports for All</h3>

    <li>
        <strong>
            Basketball:
        </strong>
        <p>
            With its own court, HCC holds regular basketball matches, encouraging teamwork and physical
            fitness.
        </p>
    </li>

    <li>
        <strong>
            Volleyball:
        </strong>
        <p>
            The college's volleyball court is the venue for frequent friendly matches, fostering camaraderie
            among students.
        </p>
    </li>

    <li>
        <strong>
            Table Tennis:
        </strong>
        <p>
            An on-campus table tennis board provides a daily recreational outlet for students, supporting a
            balanced lifestyle of work and play.
        </p>
    </li>


    <!-- cource offered in hetauda city college -->

    <h1>
        Courses Offered at Hetauda City College
    </h1>
    
    <h2>
        BSc.CSIT (Bachelor of Science in Computer Science and Information Technology)
    </h2>
    <p>
        Affiliated with Tribhuvan University (TU), the BSc.CSIT program is a blend of computer science and
        information technology subjects. It equips students with the necessary theoretical knowledge and
        practical skills in software development, networking, database management, and information security,
        preparing them for the dynamic IT industry.
    </p>

    <h2>
        BCA (Bachelor of Arts in Computer Application)
    </h2>
    <p>
        The BCA is another TU-affiliated program designed for aspiring IT professionals. This course focuses on various aspects of computer applications, from programming languages to systems analysis, with an emphasis on applying computing technology to solve real-world problems. The BCA curriculum is structured to provide a solid foundation in both the technical and artistic aspects of computing.
    </p>


    <h2>
        BBS (Bachelor in Business Studies)
    </h2>
    <p>
        As a foundational business program under TU's affiliation, the BBS course offers comprehensive insights into business administration, economics, and management. It aims to prepare students for the corporate world by developing their analytical, strategic, and leadership skills. The course covers a wide range of business disciplines, providing a stepping stone for a career in business or entrepreneurship.
    </p>


    <h2>
        MBS (Master of Business Studies)
    </h2>
    <p>
        The MBS program is a postgraduate degree that dives deeper into the realms of business management. It is designed to refine the students' strategic thinking and executive skills, ensuring they emerge as business leaders and decision-makers. The curriculum is a mix of advanced business concepts, research methods, and specialized subjects, catering to the needs of the growing business sector and academic research.
    </p>



</div>