#each-staff-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    text-align: center;
}

#each-staff-container h1 {
    text-transform: capitalize;
    color: #111;
}

#img-wrap {
    width: fit-content;
    height: 50vh;
}

#img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#each-staff-container p {
    width: 100%;
    color: #111;
}

@media (max-width: 980px) {
    #each-staff-container {
        width: 100%;
        padding: 2vw;
    }
}