#staff-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

#staff-container #each-staff {
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 5px;
    gap: 5px    ;
}

#staff-container #each-staff img {
    height: 85%;
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    background: none;
}

#staff-container #each-staff h3 {
    color: #111;
}