#footer-container {
    min-height: 40vh;
    background: hsl(0, 0%, 7%);
    width: 100%;
    padding: 2vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    display: flex;
}

#footer-container #top {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    background: hsl(0, 0%, 8%);

    padding: 2vw;
}

#footer-container #top a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#footer-container #top a i {
    font-size: 32px;
    color: #fff;
}

#footer-container #top a i:hover {
    color: #fff;
    scale: 1.1;
}

#footer-container #bottom {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 20px;
    background: hsl(0, 0%, 8%);
    padding: 2vw;

}

#footer-container #bottom #logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-container #bottom #logo img {
    height: 100px;
    width: 100px;
}

#footer-container #bottom #cources {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-container #bottom #cources a:hover {
    color: red;
}

#footer-container #copyright 
{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    background: hsl(0, 0%, 6%);
    padding: 20px;
}

#footer-container #google-map {
    height: 100%;
}

#footer-container #google-map iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:980px) {
    #footer-container #bottom 
    {
        flex-direction: column;
    }
    #footer-container #bottom 
    {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
#footer-container #copyright 
{
    flex-direction: column;
    text-align: center;
}



}   