:root {
    --color-one: #00A9FF;
    --color-two: #89CFF3;
    --color-three: #A0E9FF;
    --color-four: #CDF5FD;
    --font-size-a: 1rem;
    --font-size-p: 0.875rem;
    --font-size-h2: 1.25rem;
    --font-size-h1: 1.5rem;
    --gap-for-phone: 2rem;
    --icon-size: 1.5rem;
    --font-size-big-h1: 2rem;
}

#index-main {
    min-height: 150vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background-image: url("/images/index-image.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}

#center-head {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-for-phone);
    color: var(--color-three);
    text-align: center;
    position: absolute;
    top: 10vh;
}

#center-head img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    width: fit-content;

}

#center-head h1 {
    font-size: var(--font-size-big-h1);
    font-size: 4vw;
    font-weight: 800;
    letter-spacing: 1px;
    text-shadow: 0px 5px 4px #111;
    -webkit-text-stroke: .1px honeydew;

}

#center-head h3 {
    text-shadow: 0px 3px 4px #111;
    -webkit-text-stroke: .1px honeydew;

    font-size: 2rem;
    letter-spacing: 1px;
}

#apply-now {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#apply-now a {
    color: white;
    letter-spacing: 1px;
    font-size: larger;
    text-transform: uppercase;
    font-size: var(--font-size-a);
    display: flex;
    flex-direction: column;
}

#apply-now a i {
    font-size: var(--icon-size);
}


/* Add your preferred styling here */
.typewriter-container {
    text-align: center;
    width: fit-content;
    position: absolute;
    left: 10vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vw;
    width: 100%;

    text-align: justify;
}

.typewriter-container h1 {
    font-size: 4rem;
}


#typewriter-text {
    overflow: hidden;
    white-space: nowrap;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: monospace;
    font-size: 3rem;
    width: fit-content;
    border-right: 2px solid #000;
    display: inline-block;
    color: yellow;
}

.typewriter-container p {
    font-size: 1.25rem;
    width: 30vw;
}






/* event container */

#index-event {
    width: 100vw;
}

#index-event #headline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 7rem auto;
}

#index-event #headline h1 {
    color: var(--color-one);
    text-transform: uppercase;
}

#index-event #headline h1:nth-child(2) {
    color: purple;
}


#index-event #headline p {
    text-align: center;
    color: black;
}












@media (max-width: 980px) {
    .typewriter-container {
        left: initial;
    }

    .typewriter-container p {
        width: 100%;
    }

    #event-container {
        width: 100%;
    }

    #index-event #headline {
        width: 100%;
    }
}