* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}
img 
{
  background: gray;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #dadada;
  overflow-x: hidden  ;
}





/* Set the width of the scrollbar */
body::-webkit-scrollbar {
  width: 0;
}

/* Track (the area where the thumb and the track meet) */
body::-webkit-scrollbar-track {
  background-color: red; /* Set the background color of the track */
}

/* Handle (the draggable part of the scrollbar) */
body::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb */
  border-radius: 1px; /* Set the border radius to round the corners of the thumb */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color on hover */
}
