#content-body {
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 3vw 0;
}

#content-body h1 {
    color: #222;
    text-transform: uppercase;
}

#content-body p 
{
    color: #111;
}
#img-wrap {
    width: 100%;
    height: 50vh;
}

#content-body img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#description {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#description p {
    letter-spacing: 1px;
    text-align: justify;
    color: #333;
}


#why-hcc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #111;
}

#why-hcc strong {
    color: #000;
    letter-spacing: 1px;
    font-size: large;
}

#why-hcc p {
    color: #333;

}

#why-hcc h3 {
    letter-spacing: 1px;
    color: #000;
    font-size: 20px;
}

#why-hcc h2 {
    color: #111;
    text-transform: uppercase;
}

#why-hcc h1 {
    color: #000;
    text-transform: uppercase;
}